---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Icon from "../components/Icon.astro";
import type { Resource } from "../types";
import Airtable from "airtable";

Airtable.configure({
  endpointUrl: "https://api.airtable.com",
  apiKey: import.meta.env.SECRET_AIRTABLE_ACCESS_TOKEN,
});

const base = Airtable.base("appk277pk5PlGpVFt");

const fetchData = async () => {
  return new Promise<Resource[]>((resolve, reject) => {
    // https://airtable.com/appk277pk5PlGpVFt/api/docs#curl/table:resources
    let data: Resource[] = [];
    base("tblEnh7pNKnZSwgdl")
      .select({
        maxRecords: 300,
        view: "Grid view",
      })
      .eachPage(
        function page(records, fetchNextPage) {
          // This function (`page`) will get called for each page of records.

          records.forEach(function (record) {
            data.push(record._rawJson);
          });

          // To fetch the next page of records, call `fetchNextPage`.
          // If there are more records, `page` will get called again.
          // If there are no more records, `done` will get called.
          fetchNextPage();
        },
        function done(err) {
          if (err) {
            return reject(err);
          }
          return resolve(data);
        }
      );
  });
};

const results = await fetchData();
// description="Coding-Initiativen finden, Initiativen auf Social Media folgen, YouTube Channels abonnieren, programmieren lernen, Technik verstehen, an Meetups teilnehmen, netzwerken, Hackerinnen kennenlernen, Hackerspaces besuchen, Newsletter abonnieren, vernetzen, Frauen und Technik, MINT, Frauen in IT, Mentorinnen finden, lokale Communities finden, Nachwuchsförderungen, Frauen in der Informatik, fachlicher Austausch, Coding-Bootcamp, Workshops, Mentoring und Nachwuchsförderung für Frauen, Podcasts, Sichtbarkeit von Frauen in IT, Machine Learning, Robotics, KI"
---

<Layout
  title="Hackerinnen Links"
  description="Diese Linksammlung soll Initiativen, Projekte und Communities sichtbar machen und helfen, dass sich Frauen in IT im Internet finden, inspirieren, austauschen und vernetzen können"
>
  <div class="container is-fullhd py-5">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-two-thirds">
        {
          results.map((result) => {
            if (result.fields.public) {
              return <Card fields={result.fields} id={result.id} />;
            }
            return null;
          })
        }
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .container {
    min-height: 80vh;
  }
</style>
