---
import Icon from "./Icon.astro";
---

<footer class="footer">
  <div class="content has-text-centered">
    <p class="is-size-6 mb-4">
      <a href="https://github.com/hackerinnen/hackerinnen-list" target="_blank" rel="noopener noreferer" class="icon">
        <Icon iconName="github" prefix="fab" />
      </a>
      <a href="https://twitter.com/hackerinnen" target="_blank" rel="noopener noreferer" class="icon mr-2 ml-2">
        <Icon iconName="twitter" prefix="fab" />
      </a>
      <a href="https://instagram.com/hackerinnen.space" target="_blank" rel="noopener noreferer" class="icon">
        <Icon iconName="instagram" prefix="fab" />
      </a>
    </p>
    <p>
      <a href="https://hackerinnen.space/de" target="_blank" class="is-underlined">Hackerinnen.space</a>
      |
      <a href="https://hackerinnen.space/de/impressum/" class="is-underlined">Impressum</a>
      |
      <a href="https://hackerinnen.space/de/datenschutz/" class="is-underlined">Datenschutz</a>
    </p>
  </div>
</footer>
