---
import {
  library,
  icon,
  IconName,
  IconPrefix,
} from "@fortawesome/fontawesome-svg-core";
import { fas } from "@fortawesome/free-solid-svg-icons";
import { fab } from "@fortawesome/free-brands-svg-icons";
import { far } from "@fortawesome/free-regular-svg-icons";

library.add(fas, fab, far);

export interface IconProps {
  iconName: IconName;
  prefix: IconPrefix;
  color: String;
  size: String;
}

const { iconName, prefix, color, size } = Astro.props as IconProps;
let svg;
try {
  svg = icon({ prefix, iconName }).html;
} catch (error) {
  console.log(error, prefix, iconName);
  svg = "";
}
---

<span class="fontawesome">
  <Fragment set:html={svg} />
</span>

<style lang="scss" define:vars={{ color, size: size ? size : "2em" }}>
  .fontawesome {
    width: var(--size);
    display: inline-block;
    color: var(--color);
  }

  svg path {
    fill: var(--color);
  }
</style>
