---
import Icon from "./Icon.astro";
---

<nav class="navbar mt-3" role="navigation" aria-label="main navigation">
  <div class="container is-fullhd">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-arrowless">
          <span class="title mb-2 is-3 is-size-4-mobile">
            Hackerinnen Links
          </span>
          <figure class="image has-text-primary is-hidden-mobile question-mark">
            <Icon iconName="question-circle" prefix="far" size="1.2em" />
          </figure>
        </a>
        <div class="navbar-dropdown p-3">
          Diese Linksammlung soll Initiativen, Projekte und Communities sichtbar
          machen und helfen, dass sich Hackerinnen (und die, die es werden
          wollen) im Internet finden, inspirieren, austauschen und vernetzen
          können.
        </div>
      </div>
      <div class="navbar-item is-hidden-mobile is-size-5 ml-4">
        Eine kuratierte Linksammlung
      </div>
    </div>
    <div class="navbar-end is-hidden-mobile">
      <!-- <span class="button is-primary" @click="$emit('showForm')">
        <i class="fas fa-plus"></i></span
      > -->
    </div>
  </div>
</nav>

<style lang="scss">
  .title {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
  }
  .image.question-mark {
    top: 2px;
    position: absolute;
    right: -8px;
  }

  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #fff !important;
  }
</style>
