---
import Icon from "./Icon.astro";
---

<nav class="navbar mt-3" role="navigation" aria-label="main navigation">
  <div class="container is-fullhd">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <span class="navbar-link is-arrowless">
          <span class="title mb-2 is-3">
            Hackerinnen Links
          </span>
          <figure class="image has-text-primary is-hidden-mobile question-mark">
            <Icon iconName="question-circle" prefix="far" size="1.2em" />
          </figure>
        </span>
        <div class="navbar-dropdown p-3 is-size-5">
          Diese Linksammlung soll Initiativen, Projekte und Communities für Frauen in IT sichtbar machen.
        </div>
      </div>
      <div class="navbar-item is-hidden-mobile is-size-5 ml-4">
        Eine kuratierte Linksammlung
      </div>
    </div>
  </div>
</nav>

<style lang="scss">
  .title {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
  }
  .image.question-mark {
    top: 2px;
    position: absolute;
    right: -8px;
  }

  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #fff !important;
  }
</style>
